import * as fs from 'fs';
import * as path from "path";

function part1(input: string) {

}

function part2(input: string) {
    
}

export function solution() {
    let input = fs.readFileSync(path.join(__dirname, "../../resources/2019/day.resource"), "utf-8");
    return [
        `Part1: ${part1(input)} `, 
        ` Part2: ${part2(input)}`
    ];
}